# Created by https://www.gitignore.io/api/django


### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
# added slash in front of media to only include top level media folder
/media
# added static
/static

